* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 16px 150px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 150px;
}

header nav ul li {
    padding-right: 25px;
    display: inline;
    text-decoration: none;

}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
header nav ul li a:hover{
    color: #CAA892;
}
.btn {
    background-color: #CAA892;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 15px 0 15px 0;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    animation-delay: 1s;
}

.btn:hover {
  border-top-right-radius: 15px;
}

.hero {
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 16px 150px;
    display: flex;
}

.hero-content {
    width: 700px;
}
.hero-content h5 {
    font-size: 20px;
    color: #646464;
    font-weight: 600;
}

.hero-content h1 {
    font-size: 72px;
    color: #212121;
    font-weight: 600;
}

.hero-content p {
    font-size: 18px;
    color: #646464;

}

.hero-content .btn {
    background-color: #37806B;
    margin-top: 20px;
    padding: 8px 20px;
}

.hero-img{
    margin-left: 20px;
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 140px 0 140px 0;
}

.hero-img div {
    background-color: #B0855B;
    position: absolute;
    height: 400px;
    border: 2px solid #B0855B;
    border-radius: 140px 0 140px 0;
}


